* {
    box-sizing:border-box;
    
}

a {
  text-decoration:none;
  transition-duration: 2s;
  transition-delay: 1.5s;
  transition-property: color;
}

a:hover {
    color:lightslategrey;
    opacity:50%;
    transition-property: color;
}

body {
  font-family:'Ropa Sans', sans-serif;
  color:#777777;
  background: 1301px;
  margin: 0px;
}

header {
    background-color:#ffffff;
    box-shadow: 0px 2px 10px darkgray;
    margin: 0px 0px 60px 0px;
    padding-left: 0px;
    padding-right: 0px;
    top:0px;
    width: 100%;
    max-width: 100%;
    position: sticky;
    z-index: 10;
}

h1 {
    width: fit-content;
    top: 8px;
    position:relative;
    left:44px;
    text-transform:uppercase;
    font-weight: 400;
    font-size: 50px;
    margin:0%;
    vertical-align: top;
}

#slogan {
    width: fit-content;
    bottom: 61px;
    position: relative;
    left: 180px;
    color: #aaa;
    font-size: 16px;
    padding: 5px;
    
}

#foto1 {
    display: flex;
    align-content: center;
    width: 90%;
    max-width: 100%;
    height: 50%;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 0px;
    position: relative;
}

.casas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    border: 0px;
    background-size: 100px;
    height: 100%;
    width: 100%;
    max-width: 100%;    
    position: relative;
    
}

.casaUm, .casaDois {
    display: flex;
    justify-content: flex-end;
    flex-direction:column-reverse;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align:justify;
    font-size: 15px; 
    background-color: #EEEEEE;
    background-size: 100%;
    width: 450px;
    height: 370px;
    max-width: 100%;
    padding: 0px;
    margin-bottom: 60px;
    
}

#textoUm, #textoDois {
    margin: 15px;
}


#valorUm, #valorDois, #New, #Sale {
    
    border: 0px;
    margin: 15px;
    background-size: 100%;
    
}


#New, #Sale {
    order: 1;
    border-radius: 50px;
    background-color: #51D275;
    width: 86px;
    height: 41px;
    margin: 15px;
    left: -214px;
    color: #ffffff;
    border: none;
    text-align: center;
    padding: 0px;
    font-size: 30px;
    line-height:initial;
    z-index: 11;
             
}

#Sale {
    background-color: #DC9730;
}

#fotoCasaUm, #fotoCasaDois {
    background-size: 100%;
    margin: 0px 0px 9px 0px;
    padding: 0px;
    
}



h2{
    display: flex;
    justify-content: center;
}


.estilosArq {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    background-size: 100%;

    
}

#ind #mod #cla {
    z-index: index 10;
    background-size: center;
    color:#FFFFFF;
    box-align: center;
    align-items: center; 
}

.divFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background:#333333;
    width: 100%;
    max-width: 100%;
    position: relative;
    top:57px;
    
}

.mapa {
    
    margin: 50px auto;
    
}

.textofooter {
    margin: 50px auto;
}

.socialmidia {
    margin: 50px auto;
}

/* @media (max-width: 1301px){
    .casaUm, .casaDois {
        width: 100%;
    }
}

@media (min-width: 1301px){
    .casaUm, .casaDois {
        width: 460px;
    }
} */