* {
    box-sizing:border-box;
    
}

a {
  color:#ffffff;
  font-size: 25px;
  text-decoration:none;
  transition-duration: 2s;
  transition-delay: 0.5ms;
  transition-property: color;
}

a:hover {
    color:white;
    font-size: xx-large;
    opacity:80%;
    transition-property:color;
}

body {
  font-family:'Ropa Sans', sans-serif;
  color:#777777;
  background: 1301px;
  margin: 0px;
}

header {
    background-color:#ffffff;
    box-shadow: 0px 2px 10px darkgray;
    margin: 0px 0px 60px 0px;
    padding-left: 0px;
    padding-right: 0px;
    top:0px;
    height: 5rem;
    width: 100%;
    max-width: 100%;
    position: sticky;
    z-index: 9999;
}

h1 {
    width: fit-content;
    top: 8px;
    position:relative;
    left:44px;
    text-transform:uppercase;
    font-weight: 400;
    font-size: 50px;
    margin:0%;
    vertical-align: top;
}

#slogan {
    width: fit-content;
    bottom: 61px;
    position: relative;
    left: 180px;
    color: #aaa;
    font-size: 16px;
    padding: 5px;
    
}

#foto1 {
    display: flex;
    align-content: center;
    width: 90%;
    max-width: 100%;
    height: 50%;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 0px;
    position: relative;
}

.casas {
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    border: 0px;
    background-size: 100px;
    height: 100%;
    width: 100%;
    max-width: 100%;    
    position: relative;
    
}

.casas, .casaUm, .casaDois{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.casaUm, .casaDois {
    flex-direction: column;
    width: 450px;
    background-color: #EEEEEE;
}

#fotoCasaUm, #fotoCasaDois {
    width: 100%;
}

#textoUm, #textoDois {
    margin: 15px;
    flex-wrap: wrap;
}


#valorUm, #valorDois {
    font-size: 25px;
    border: 0px;
    margin: 15px;
    background-size: 100%;
    
}


#New, #Sale {
    order: 1;
    border-radius: 50px;
    background-color: #51D275;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 41px;
    margin: 15px;
    right: 214px;
    color: #ffffff;
    border: none;
    text-align: center;
    padding: 0px;
    font-size: 30px;
    line-height:initial;
    z-index: 11;
             
}

#Sale {
    background-color: #DC9730;
}

#fotoCasaUm, #fotoCasaDois {
    background-size: 100%;
    margin: 0px 0px 9px 0px;
    padding: 0px;
    
}



h2{
    display: flex;
    justify-content: center;
    margin: 60px;
    font-size: 40px;
}


.estilosArq {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    background-size: 100%;    
}


.imageContainerInd, .imageContainerMod, .imageContainerCla {
    position: relative;
}


.textoEstilosArq{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 500ms;
    
}

.imageSource{
    width: 100%;
    margin:20px;
}

#ind #mod #cla {
    font-size: x-large 25px;
    z-index: 10;
    background-size: center;
    color:#c7c4c4;
    box-align: center;
    align-items: center;
     
}

.divFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background:#333333;
    width: 100%;
    max-width: 100%;
    position: relative;
    top:57px;
    padding: 60px;
    justify-items: center;
    align-items: center;
    
}


.textofooter {
    text-justify: distribute-all-lines;
    text-align: justify;
    
}
